[Unit]
Description=20-20-20 rule notifier

[Service]
ExecStart=/usr/bin/notify-send --hint int:transient:1 '20-20-20 rule' 'Take a break!' -i mail-mark-junk-symbolic
